//- require mixins block
include ~@components/main-title
include ~@components/tags
include ~@components/detailPage/visual-editor

mixin project-detail(props)
	- 
		var sectionTitle = props.name
		var subtitle = props.preview_text
		var bgStyle = `background-color: ${props.background_color}`
		var detailText = props.detail_text
		var previewPicture = props.preview_picture.replace(/#project#/g, `/upload/images/projects/${props.fileName}`)
		var tags = props.tags

	section(class=['project-detail', 'header-offset'] style=bgStyle)
		.project-detail__inside.container
			.project-detail__img 
				img(src=previewPicture, alt="")
			.project-detail__title
				+main-title(sectionTitle, 'h1')
			.project-detail__subtitle= subtitle
	.detail-content.container-short
		+visual-editor({text: detailText})
		+tags({tags})


