//- require mixins block
include ../components/main-title
include ../components/scroll-below

- var pageTitle = 'О компании'

- var title = 'AGENCY UX ЭТО'
- var content = 'Прародителем текста-рыбы является известный «Lorem Ipsum» – латинский текст, ноги которого растут аж из 45 года до нашей эры. Сервисов по созданию случайного текста на основе Lorem Ipsum великое множество, однако все они имеют один существенный недостаток: их «рыба текст» подходит лишь для англоязычных ресурсов/проектов. Мы же, фактически, предлагаем Lorem Ipsum на русском языке – вы можете использовать полученный здесь контент абсолютно.'

- var img = ['assets/images/founder.png', 'founder']
- var name = ['Анна Николаева', 'founder']

+main({dataHash:'about', className:'header-offset  main--light', scrollClassName:'theme-light'})
	.main__inside.container 
		.about-block
			.about-block__info
				+main-title(pageTitle)
				.about-content
					.about-content__title #{title}
					.about-content__content #{content}
			.about-block__founder
				.about-founder 
					.about-founder__img-wrapper 
						.about-founder__img
							img(src=img[0], alt=img[1])
					.about-founder__desc
						.about-founder__desc-name #{name[0]}
						.about-founder__desc-desc #{name[1]}